html, body{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	color: #FFFFFF;
	background-color: #393534;
	box-sizing: border-box;
}

ol, ul{
	margin-left: 0;
	padding: 0;
}

@media screen and (min-width: 1024px){
	ol, ul {
		margin-top: 2%;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 1024px){
	ol, ul {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}

/* *** Header *** */
.navbar-default {
	color: #FFFFFF;
    background-color: rgba(0,0,0,0.5);
    border-color: transparent;
}
.navbar-default a,
.navbar-default a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.navbar ul{
	list-style: none;
}

@media screen and (min-width: 1024px){
	.navbar{
		margin: 2% 20%;
	}
}
@media screen and (max-width: 1024px){
	.navbar-right,
	.navbar-left{
		text-align: center;
	}
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form{
		border: none;
		text-align: center;
	}
	.navbar-default .navbar-form{
		box-shadow: none;
	}
}

/* *** Connexion *** */
#logination{
	max-width: 50%;
	margin: auto;
	padding: 5%;
	background-color: #201C1D;
}
#logination p{
	margin-bottom: 25px;
}
#logination input{
	color: #000000;
	padding: 0 0 0 10px;
}
#logination input:focus { 
    outline: none !important;
    border: 2px solid #AA1819;
    box-shadow: 0 0 10px #AA1819;
}
#logination input,
#logination .btn-login{
	font-size: 24px;
}
.btn-login{
	border-radius: 5px;
	background-color: #AA1819;
	color: #FFFFFF;
}