@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body, .nopad{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	color: #fff;
	background-color: #393534;
	box-sizing: border-box;
	padding: 3%;
}

img
{
	max-width: 100%;
}

select{
	background-color: #393534;
}

ol, ul{
	margin-left: 0;
	padding: 0;
}

/*.navbar-right
{
	width: 20%;
}*/

.navbar-right a li
{
	display: inline-block;
}

/*.addarticle
{
	padding-right: 5%;
}*/

@media screen and (min-width: 1024px){
	ol, ul, .navbar-left {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0.8% 0 0 0;
	}
}
@media screen and (max-width: 1024px){
	ol, ul {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}

/* *** Header *** */
.navbar-default {
	color: #FFFFFF;
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}
.navbar-default a,
.navbar-default a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.navbar ul{
	list-style: none;
}

@media screen and (max-width: 1024px){
	.navbar-right,
	.navbar-left{
		text-align: center;
	}
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form{
		border: none;
		text-align: center;
	}
	.navbar-default .navbar-form{
		box-shadow: none;
	}
}

/* *** Connexion *** */

#logination{
	max-width: 100%;
	margin: auto;
	padding: 5%;
	background-color: #201C1D;
}

#logination,
#logination form,
#logination p,
#logination input{
	transition: all 0.5s ease;
}

#logination form{
	margin-bottom: 25px;
}
#logination p{
	margin-bottom: 25px;
}
#logination input{
	max-width: 100%;
	color: #000000;
	padding: 0 0 0 10px;
}
#logination input:focus { 
    outline: none !important;
    border: 2px solid #AA1819;
    box-shadow: 0 0 10px #AA1819;
}
#logination input,
#logination .btn-login{
	font-size: 24px;
}
.btn-login{
	border-radius: 5px;
	background-color: #AA1819;
	color: #FFFFFF;
}

#logination a{
	color: #AA1819;
}
#logination a:hover{
	color: #D46A6A;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 720px){
	.nopad .row{
		width: 50%;
	}
}

@media screen and (max-width: 720px){
	.nopad .row{
		width: 80%;
	}
}

/*CSS ARTICLE*/

main .container-fluid
{
	padding: 1%;
	background: rgba(0,0,0,.3);
	margin-bottom: 3%;
}

.bouton-lire
{
	color: #111;
	background: #AA1819;
	font-weight: bold;
	display: block;
	transition: all ease-in-out .3s;
}

.bouton-lire:hover
{
	color: #222;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}

@media screen and (max-width: 720px)
{
	main .container-fluid
	{
		padding: 10%;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px)
{
	main .container-fluid
	{
		padding: 5%;
	}
}









/*AJOUT ARTICLE*/

h1
{
	font-size: 3rem;
	font-family: 'Raleway';
	text-align: center;
}

.addtitre
{
	margin: auto;
}

.addcontenu
{
	margin: 2% auto 0 auto;
	min-height: 12rem;
	resize: vertical;
}


.addtitre, .addcontenu
{
	padding: 0.5%;
	display: block;
	width: 30%;
	font-size: 1.5rem;
	border-radius: 5px;
	color: #000;
	font-family: 'Raleway';
	transition: border ease-in-out .3s;
}

.addtitre:focus, .addcontenu:focus { 
    outline: none !important;
    border: 2px solid #AA1819;
    box-shadow: 0 0 10px #AA1819;
}

.enregistrer
{
	display: block;
	margin: 2% auto 0 auto;
}

.addcategorie
{
	display: block;
	margin: 3% auto 0 auto;
}

#success
{
	color: #00ff00;
	font-size: 3rem;
	text-align: center;
	margin-top: 3%;
}

#error
{
	color: #ff0000;
	font-size: 3rem;
	text-align: center;
	margin-top: 3%;
}


@media screen and (max-width: 1024px){

	h1
	{
		font-size: 2rem;
	}

	.addtitre, .addcontenu
	{
		width: 80%;
		font-size: 1rem;
		padding: 1%;
	}

	.addcontenu
	{
		margin: 5% auto 0 auto;
	}

}
