@import url('https://fonts.googleapis.com/css?family=Raleway');

/*CSS ARTICLE*/
html
{
	font-size: 62.5%;
}

body
{
	padding: 5%;
	background-color: #393534;
}

img
{
	max-width: 100%;
}

main .container-fluid
{
	padding: 1%;
	margin-bottom: 3%;
}

h2
{
	font-size: 4rem;
	font-family: 'Raleway';
}

p
{
	font-size: 2.5rem;
	font-family: 'Raleway';
}

.article
{
	color: #fff;
}

.valid
{
	display: none;
}

/*.bouton-lire
{
	color: #111;
	background: #AA1819;
	font-weight: bold;
	display: block;
	transition: all ease-in-out .3s;
}

.bouton-lire:hover
{
	color: #222;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}*/

@media screen and (max-width: 720px)
{
	main .container-fluid
	{
		padding: 10%;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px)
{
	main .container-fluid
	{
		padding: 5%;
	}
}
